services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - event-service
      - player-service

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    volumes:
      - mongo-data:/data/db

  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg-data:/var/lib/postgresql/data

  event-service:
    build: ./services/event-service
    env_file:
      - ./services/event-service/.env
    depends_on:
      - rabbitmq
    ports:
      - "4000:4000"

  matchmaking-service:
    build: ./services/matchmaking-service
    env_file:
      - ./services/matchmaking-service/.env
    depends_on:
      - rabbitmq
      - redis

  game-logic-service:
    build: ./services/game-logic-service
    env_file:
      - ./services/game-logic-service/.env
    depends_on:
      - rabbitmq
      - mongodb

  player-service:
    build: ./services/player-service
    env_file:
      - ./services/player-service/.env
    depends_on:
      - postgres
      

volumes:
  mongo-data:
  pg-data:
  redis-data:
